<div class="page-container">
  <div class="login-header">
    <h1>Log In</h1>
    <form id="login-form">
      <div class="input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" />
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" />
      </div>
      <div>
        <button type="submit">Log In</button>
      </div>
    </form>
  </div>
  <div class="signup-header">
    <h1>Sign Up</h1>
    <form id="signup-form">
      <div class="input">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" />
      </div>
      <div class="input">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" />
      </div>
      <div class="input">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" />
      </div>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/login.js"></script>
